.bg-dark>a {
    color: #fff
}

a:hover {
    color: #fff;
    text-decoration: none
}

.container {
    background-color: #06090A;
}

.bg-spot {
    background-color:#282828;
}

.login-button {
    font-family: Helvetica;
    border-bottom-left-radius: 500px;
    border-bottom-right-radius: 500px;
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
    color: #fff;
    padding: 15px;
    background-color: #1db954;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    transition: .3s;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: bolder
}

.login-button:hover {
    background-color: #1ed760
}

.nav-link:hover {
    color: #4162a3
}

.divider {
    width: 5px;
    height: 10px
}

.half-divider {
    display: block;
    width: 100%;
    height: 10rem
}